/* .game-links > .link, .social-media-links > .link{
    width: auto;
    height: 200px;
}

.game-links > .link > img, .social-media-links > .link > img{
    width: auto;
    max-height: 210px;
} */

.link > a img{
    width: auto;
    height: 88px;
} 