.social-media-wrapper {
    margin-top: 10px;
    width: 50%;
    height: auto;
    border: 8px rgba(20, 20, 20, 0.4) solid;
    border-radius: 8px;
    box-shadow: whitesmoke 0px 0px 10px;
}

.soc-media-title {
    font-size: 150%;
    float: left;
}