.nav-links-wrapper {
    width: 40%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.link a {
    
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: lightgreen;
    text-shadow: 0px 0px 10px green;
}