.grid-boxes {
    display: flex;
    flex-direction: column;
}

.box {
    width: 22px;
    height: 22px;
    background-color: grey;
    box-shadow: inset black 0px 0px 20px;
    /* animation: texture 40s infinite; */
    border-radius: 4px;
    border: black 2px solid;
    padding: 0px;
}

@keyframes texture {
    0%{box-shadow: inset black 0px 0px 20px;}
    50%{box-shadow: inset black 0px 0px 20px, white 0px 0px 20px;}
    100%{box-shadow: inset black 0px 0px 20px;}
}

.big-box {
    width: 48px;
    height: 48px;
    background-color: grey;
    box-shadow: inset black 0px 0px 20px;
    border-radius: 4px;
    border: black 2px solid;
    padding: 0px
}

.flex-boxes {
    display: flex;
    flex-direction: row;
}

.boxes {
    right: 20px;
    top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: scroll;
    border-radius: 200px 300px 200px 200px;
    animation: boxborder 40s infinite;
    box-shadow: black 0px 0px 10px, inset black 0px 0px 10px;
    animation: boxshadowbr 40s infinite linear;
    width: 120px;
    height: 100px;
}

@keyframes boxshadowbr {
    0%{
        box-shadow: red 0px 0px 20px, inset orange  0px 0px 20px;
        border-radius: 37% 63% 58% 42% / 48% 15% 85% 52%;
    }
    16%{box-shadow: orange 0px 0px 20px, inset yellow  0px 0px 20px;}
    20%{border-radius: 73% 27% 58% 42% / 70% 46% 54% 30%;}
    32%{box-shadow: yellow 0px 0px 20px, inset green  0px 0px 20px;}
    40%{border-radius: 15% 85% 28% 72% / 83% 78% 22% 17%;}
    60%{border-radius: 41% 59% 53% 47% / 19% 58% 42% 81%;}
    48%{box-shadow: green 0px 0px 20px, inset blue  0px 0px 20px;}
    74%{box-shadow: blue 0px 0px 20px, inset purple  0px 0px 20px;}
    80%{border-radius: 10% 90% 80% 20% / 51% 10% 90% 49%;}
    90%{box-shadow: purple 0px 0px 20px, inset red  0px 0px 20px;}
    100%{
        box-shadow: red 0px 0px 20px, inset orange  0px 0px 20px;
        border-radius: 37% 63% 58% 42% / 48% 15% 85% 52%;
    }
}

.boxes::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.boxes > .box-group{
    display: flex;
    flex-direction: row;
}

.top-right {
    display: flex;
    flex-direction: column;
}

.bottom-flex-boxes {
    display: flex;
    flex-direction: row;
}