/* Links CSS */

.nav-links-wrapper {
  width: 40%;
  height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.links {
  display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.link {
  color: white;
  padding: 0px 10px;
  justify-content: center;
}

.link a {
  transition: all ease 0.5s;
  color: white;
  text-decoration: none;
}

.link a:hover {
  color: white;
  text-shadow: 0px 0px 6px purple, 0px 0px 5px white;
	letter-spacing: .5px;
}
